@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-dark: #111827;
  --color-light: #F3F4F6;
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}